/* ======================== */
/* ===      Global      === */
/* ======================== */

body, html{
    background-color: #E3E3E3;
}

/* ======================== */
/* ===      Login       === */
/* ======================== */

.login-main{
    margin-top: 100px;
}

.form-box {
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 35px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}