/* ======================== */
/* ===      Global      === */
/* ======================== */

body, html{
    background-color: #eee;
}

/* ======================== */
/* ===      Navbar      === */
/* ======================== */

.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.nav-username {
    padding-right: 2px;
}
.nav-form {
    width: 275px;
    padding: 20px;
}

/* ======================== */
/* ===   Post Editor    === */
/* ======================== */

.post-editor {
    margin-top: 100px;
}

.editor-area {
    width: 100%;
    height: 800px;
    margin: 40px auto;
}

.editor-area textarea {
    width: 100%;
    height: 100%;
}

/* ======================== */
/* ===    Galleries     === */
/* ======================== */

.image-div {
    height: 300px;
}

.image-div img {
    height: 250px;
}

.sized {
    width:100%;
    -ms-object-fit: cover;
    -moz-object-fit: cover;
    -o-object-fit: cover;
    -webkit-object-fit: cover;
    object-fit: cover;  overflow:
        hidden; -ms-transition: 1s all;
    -moz-transition: 1s all;
    -o-transition: 1s all;
    -webkit-transition: 1s all;
    transition: 1s all;
}

.gallery-footer {
    padding-top: 2px;
}

.gallery-footer .badge {
    background-color: #2972B1;
}

/* ======================== */
/* ===     Gallery      === */
/* ======================== */

/* Masonry */

.picture-sizer, .picture  {
    width: 24%;
    margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
    .picture-sizer, .picture  {
        width: 49%;
        margin-bottom: 5px;
    }
}

@media screen
and (min-width: 768px)
and (max-width: 992px) {
    .picture-sizer, .picture  {
        width: 32%;
        margin-bottom: 5px;
    }
}

.picture img {
    display: block;
    width: 100%;
}

hr {
    color: black;
    size: 5px;
}

#eye {
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    font-size:1.5em;
}

#eye span {
    background-color: grey;
    border: 8px solid grey;
    border-radius: 15px;
}

.glyphicon {
    color: white !important;
}

#star {
    position: absolute;
    padding: 5px auto;
    left: 10px;
    top: 6px;
    color: white;
}


.cover {
    position: absolute;
    background-color: black;
    opacity: 0.4;
    left:0;
    bottom: 0;
    width: 100%;
    height: 0;
}

/* ======================== */
/* ===    Upload Form   === */
/* ======================== */

/* styling for buttons */
.buttons {
    margin-bottom: 15px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file .badge{
    margin-left: 5px;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* adapted from http://maxwells.github.io/bootstrap-tags.html
   file status label with glyphicon */
.tag {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 12px;
    padding: 5px 10px 5px 3px;
}

.tag a {
    color: #bbb;
    cursor: pointer;
    opacity: 0.7;
}
.tag a:hover {
    opacity: 1.0
}
.tag .remove {
    top: 0.2em;
}
.tag a {
    margin: 0 5px;
}
.tag a .glyphicon-white {
    margin-bottom: 2px;
    color: white;
}

.modal-footer {
    text-align: left;
}

#status-info {
    padding: 5px 20px;
}

.file-status {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #eee;
    margin-bottom: 6px;
    padding: 0px 10px;
    border: 1px solid grey;
    width: 100%;
}

.file-status-error {
    background-color: #f2dede;
}

.file-label {
    margin: 10px 0px 12px 0px;
}

.progress {
    background: rgba(245, 245, 245, 1);
    border-radius: 10px;
    height: 10px;
    margin-bottom: 5px;
}

.alert-msg {
    color: grey;
    margin: 10px 10px 0px 10px;
}

/* ======================== */
/* ===      textbox     === */
/* ======================== */

.textbox {
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    -webkit-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.25);
}

.sticked {
    margin-top: 30px;
    margin-bottom: 40px;
}

.textbox:hover {
    -webkit-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.5);
}

#addPost {
    padding: 0;
    margin-bottom: 20px;
    display: none;
}

/* ======================== */
/* ===       debug      === */
/* ======================== */

.bordered {
    border: 1px solid black;
}