<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Change password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="commons :: bootstrap_css"/>
    <link th:replace="commons :: font-awesome_css"/>
    <link th:replace="commons :: forms_css"/>
</head>
<body>
    <nav th:replace="commons :: navbar"></nav>

    <div class="container">
        <div class="row login-main">
            <div class="col-md-4 col-md-offset-4">
                <form class="form-box" method="post" action="#" th:action="@{/user/changepass}" th:object="${changedPassword}">
                    <input type="hidden" value="${changedPassword.userName}" th:field="*{userName}"/>
                    <div class="form-group" th:classappend="${#fields.hasErrors('oldPassword')}? 'has-error'">
                        <label for="oldPassword" th:text="#{password.old}"></label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input id="oldPassword" type="password" class="form-control" name="email"
                                   th:field="*{oldPassword}">
                            </input>
                        </div>
                            <span class="help-block" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">
                                Error caused by incorrect old password
                            </span>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('newPassword')}? 'has-error'">
                        <label for="newPassword" th:text="#{password.new}"></label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input id="newPassword" type="password" class="form-control" name="username"
                                   th:field="*{newPassword}">
                            </input>
                        </div>
                            <span class="help-block" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">
                                Error caused by bad password
                            </span>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('passwordConfirmation')}? 'has-error'">
                        <label for="passwordConfirmation" th:text="#{password.confirm}"></label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input id="passwordConfirmation" type="password" class="form-control" name="passwordConfirmation"
                                   th:field="*{passwordConfirmation}">
                            </input>
                        </div>
                            <span class="help-block" th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}">
                                Error caused by incorrect password confirmation.
                            </span>
                    </div>
                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button" th:text="#{password.buttom}">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <th:block th:replace="commons :: bootstrap-jquery_js"/>
</body>
</html>
