<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Commons</title>
</head>
<body>
    <!-- Navbar -->
    <nav th:fragment="navbar" class="navbar navbar-inverse navbar-dark">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" th:href="@{/}"
                   th:text="${@environment.getProperty('spring.application.name')}">Piccollector
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" th:href="@{/galleries}" th:text="#{nav.galleries}">Galleries</a>
                    </li>
                    <!-- TODO: Control panel for admin to be implemented -->
                    <!--<li sec:authorize="${hasAuthority('ADMIN')}"><a href="#" th:href="@{/admin}" th:text="#{nav.admin}">Control panel</a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <!-- Login form if unauthenticated-->
                    <li sec:authorize-expr="!isAuthenticated()">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="#{login}">Login</span>
                            <span class="caret"/>
                        </a>
                        <div class="dropdown-menu" role="menu">
                            <form class="nav-form form-horizontal" method="post" th:action="@{/user/login}" action="#">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" name="email" id="email" th:placeholder="#{email}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="password" class="form-control" name="password" id="password" th:placeholder="#{password}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="remember-me" th:text="#{rememberMe}">Remember me!</input>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary btn-md btn-block"
                                                th:text="#{login}">Login</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class=" col-md-12">
                                        <a href="#" th:href="@{/user/register}">
                                            <button type="button" class="btn btn-default btn-xs btn-block"
                                                    th:text="#{register}">Register</button>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Authenticated user menu -->
                    <li class="dropdown" sec:authorize-expr="isAuthenticated()">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="nav-username" sec:authentication="name"/>
                            <span class="caret"/>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="disabled"><a href="#" th:text="#{settings}">Settings</a></li>
                            <li class="disabled"><a href="#" th:text="#{myPictures}">My Pictures</a></li>
                            <li class="divider"></li>
                            <li><a href="#" th:href="@{/user/changepass}" th:text="#{password.change}">Change password</a></li>
                            <li><a href="#" th:href="@{/user/logout}" th:text="#{logout}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <!-- CSS -->
    <link th:fragment="bootstrap_css"
          rel="stylesheet"
          type="text/css"
          href="/public/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{/public/bootstrap/dist/css/bootstrap.min.css}" />
    <link th:fragment="font-awesome_css"
          rel="stylesheet"
          type="text/css"
          href="/public/font-awesome/css/font-awesome.min.css"
          th:href="@{/public/font-awesome/css/font-awesome.min.css}" />
    <link th:fragment="forms_css"
          rel="stylesheet"
          type="text/css"
          href="/public/css/forms.css"
          th:href="@{/public/css/forms.css}" />
    <link th:fragment="main_css"
          rel="stylesheet"
          type="text/css"
          href="/public/css/main.css"
          th:href="@{/public/css/main.css}" />

    <!-- JS -->
    <script th:fragment="news_js"
            type="text/javascript"
            src="/public/js/news.js"
            th:src="@{/public/js/news.js}"></script>
<th:block th:fragment="bootstrap-jquery_js">
    <script type="text/javascript"
            src="/public/jquery/dist/jquery.min.js"
            th:src="@{/public/jquery/dist/jquery.min.js}"></script>
    <script type="text/javascript"
            src="/public/bootstrap/dist/js/bootstrap.min.js"
            th:src="@{/public/bootstrap/dist/js/bootstrap.min.js}"></script>
</th:block>

<th:block th:fragment="gallery-generator_js">
    <script type="text/javascript"
            src="/public/bootstrap-filestyle/src/bootstrap-filestyle.min.js"
            th:src="@{/public/bootstrap-filestyle/src/bootstrap-filestyle.min.js}"></script>
    <script type="text/javascript"
            src="/public/masonry/dist/masonry.pkgd.min.js"
            th:src="@{/public/masonry/dist/masonry.pkgd.min.js}"></script>
    <script type="text/javascript"
            src="/public/imagesloaded/imagesloaded.pkgd.min.js"
            th:src="@{/public/imagesloaded/imagesloaded.pkgd.min.js}"></script>
    <script type="text/javascript"
            src="/public/js/gallery-generator.js"
            th:src="@{/public/js/gallery-generator.js}"></script>
</th:block>
</body>
</html>
