<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="'Error page ' + ${status}">Error Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link th:replace="commons :: bootstrap_css"/>
	<link th:replace="commons :: main_css"/>
</head>
<body>
    <div class="container">
        <div class="textbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1"
			 style="margin-top: 150px;">
			<h2 th:text="#{(${errorAttributes.status} == 403) ? 'err.unauthorised' : 'err.msg'}"></h2>

			<p th:if="${errorAttributes.path}">
				<b>Page:</b> <span th:text="${errorAttributes.path}">Page URL</span>
			</p>

			<p th:if="${errorAttributes.path == null}">
				<b>URL:</b> <span th:text="${#httpServletRequest.requestURL}">Request
					URL</span>
			</p>

			<p th:if="${errorAttributes.message}">
				<b>Reason:</b> <span th:text="${errorAttributes.message}"> some reason</span>
			</p>

			<p th:if="${errorAttributes.timestamp}">
				<b>Occurred:</b> <span th:text="${errorAttributes.timestamp}">Timestamp</span>
			</p>

			<p th:if="${errorAttributes.status}">
				<b>Response Status:</b> <span th:text="${errorAttributes.status}">status-code</span>
			</p>
			<p th:unless="${errorAttributes.status} == 403">
				<a href="/" th:href="@{/}" th:text="#{err.action.msg}">Try again</a>
			</p>
        </div>
    </div>

</body>
</html>
