<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Galleries</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="commons :: bootstrap_css"/>
    <link th:replace="commons :: main_css"/>
</head>
<body>
    <nav th:replace="commons :: navbar"></nav>

    <div class="container">

        <div class="alert alert-success" role="alert" th:if="${#httpServletRequest.getParameter('passChanged') != null}">
            <span th:text="#{password.changed}">Your password has been changed!</span>
        </div>

        <div class="row">
            <div th:each="gallery : ${galleries}" class="col-md-4 col-sm-6 col-xs-12 image-div">
                <a th:href="${applicationUrl} + ${gallery.url}">
                    <img th:src="${gallery.getCover()!=null}?${applicationUrl}+${gallery.cover.url}:'/public/pics/choose_cover.jpg'"
                         class="img-responsive sized"/>
                </a>
                <div class="clearfix gallery-footer">
                    <a th:href="${applicationUrl} + ${gallery.url}" th:text="${gallery.name}"
                       class="label label-primary"></a>
                    <span class="label label-default" th:text="${gallery.eventDate}"></span>
                    <span class="badge pull-right">
                        <span class="glyphicon glyphicon-picture"></span>
                        <span th:text="${gallery.pictureCount}">22</span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="commons :: bootstrap-jquery_js"/>
</body>
</html>
