<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title th:href="${galleryContent.gallery.name}">Gallery name!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="commons :: bootstrap_css"/>
    <link th:replace="commons :: main_css"/>
</head>
<body>
    <nav th:replace="commons :: navbar"></nav>

    <div class="container">

        <div class="textbox" id="header">
            <h3 class="text-center" th:text="${galleryContent.gallery.name}"></h3>
            <hr></hr>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" th:text="#{add.pictures}">
                Add pictures
            </button>
        </div> <!-- jumbotron -->

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add pictures</h4>
                    </div>
                    <div class="modal-body">
                        <form id="uploadForm" action="#" enctype="multipart/form-data" class="form-box" method="post" accept="image/*" th:object="${uploadedPictures}">
                            <label class="btn btn-default btn-file">
                                <span th:text="#{choose.pictures}">Browse</span>
                                <input type="file" name="files[]" multiple="multiple" th:field="*{files}"></input>
                                <span class="badge">0</span>
                            </label>
                            <button type="submit" class="btn btn-submit btn-primary btn-md" th:text="#{upload}">
                                Upload
                            </button>
                            <button type="reset" class="btn btn-danger btn-md" th:text="#{clear}">
                                Clear
                            </button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div id="status-info"></div>
                    </div>
                </div>
            </div>
        </div>  <!-- modal -->

        <div id="pictures" th:with="picturesByAuthor=${galleryContent.picturesByAuthor}">
            <div class="user-content" th:each="author : ${picturesByAuthor.keySet()}" th:id="${author}">
                <h3 th:text="${author}"></h3>
                <div class="grid" th:id="${author} + '-grid'">
                    <div class="picture-sizer"></div>
                    <div class="picture" th:each="picture : ${picturesByAuthor[__${author}__]}"
                         th:attr="data-file-name=${picture.fileName}">
                        <img th:src="${applicationUrl} + ${picture.url}" />
                        <div id="eye">
                            <a href="#">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </div>
                        <div class="cover">
                            <a href="#"  id="star">
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="commons :: bootstrap-jquery_js"/>
    <th:block th:replace="commons :: gallery-generator_js"/>
</body>
</html>
