<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>News</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="commons :: bootstrap_css"/>
    <link th:replace="commons :: main_css"/>
</head>
<body>
    <nav th:replace="commons :: navbar"></nav>

    <div class="container">
        <div class="alert alert-success" role="alert" th:if="${#httpServletRequest.getParameter('logout') != null}">
            <span th:text="#{logout.success}">You've been logged out successfully!</span>
        </div>
        <div id="posts" class="row">
            <div th:each="post : ${posts}" th:class="${post.sticked}? 'col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 textbox sticked'
                                            : 'textbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1'">
                <div class="clearfix">
                    <em th:unless="${post.sticked}" class="pull-right" th:text="${post.creationDate}"></em>
                    <a sec:authorize="${hasRole('ADMIN')}" href="#"
                       th:href="@{/postEditor(postId=${post.id})}"
                       class="btn btn-danger btn-sm pull-left" role="button">Edit
                    </a>
                </div>
                <hr th:unless="${post.sticked}"></hr>
                <h2 th:class="${post.sticked}? 'text-center'" th:text="${post.title}">Title</h2>
                <hr></hr>
                <span th:utext="${post.content}">Content</span>
            </div>
            <div id="addPost" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <a sec:authorize="${hasRole('ROLE_ADMIN')}" href="#" th:href="@{/postEditor}"
                   class="btn btn-primary btn-lg btn-block center-block" role="button">Add Post
                </a>
            </div>
        </div>
    </div>

    <th:block th:replace="commons :: bootstrap-jquery_js"/>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var isAdmin = [[${#authorization.expression('hasRole(''ADMIN'')')}]];
        /*]]>*/
    </script>
    <script th:replace="commons :: news_js"></script>
</body>
</html>
