<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="commons :: bootstrap_css"/>
    <link th:replace="commons :: font-awesome_css"/>
    <link th:replace="commons :: forms_css"/>
</head>
<body>
    <div class="container">
        <div class="row login-main">
            <div class="col-md-4 col-md-offset-4">
                <form class="form-box" method="post" th:action="@{/user/login}" action="#">
                    <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
                    <div class="alert alert-danger" role="alert" th:if="${#httpServletRequest.getParameter('error') != null}">
                        <div class="row">
                            <div class="col-md-1">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-10">
                                <span th:text="#{login.error}">Incorrect password or email address</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="email" th:placeholder="#{email.enter}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" th:placeholder="#{password.enter}"/>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember-me" th:text="#{remember.me}"/>
                        </label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button" th:text="#{login}">
                            Login
                        </button>
                    </div>
                    <div class="login-register">
                        <a href="#" th:href="@{/user/register}" th:text="#{register}">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <th:block th:replace="commons :: bootstrap-jquery_js"/>
</body>
</html>
