<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="commons :: bootstrap_css"/>
    <link th:replace="commons :: font-awesome_css"/>
    <link th:replace="commons :: forms_css"/>
</head>
<body>
    <div class="container">
        <div class="row login-main">
            <div class="col-md-4 col-md-offset-4">
                <form class="form-box" method="post" action="#" th:action="@{/user/register}" th:object="${registrationDetails}">
                    <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="email"
                                   th:field="*{email}" th:placeholder="#{email.enter}">
                            </input>
                        </div>
                        <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                            Error caused by incorrect email
                        </span>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'has-error'">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="username"
                                   th:field="*{username}" th:placeholder="#{username.enter}">
                            </input>
                        </div>
                        <span class="help-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                            Error caused by incorrect username
                        </span>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password"
                                   th:field="*{password}" th:placeholder="#{password.enter}">
                            </input>
                        </div>
                        <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                            Error caused by incorrect password
                        </span>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('passwordConfirmation')}? 'has-error'">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="passwordConfirmation"
                                   th:field="*{passwordConfirmation}" th:placeholder="#{password.confirm}">
                            </input>
                        </div>
                        <span class="help-block" th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}">
                            Error caused by incorrect password confirmation.
                        </span>
                    </div>
                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button" th:text="#{register}">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <th:block th:replace="commons :: bootstrap-jquery_js"/>
</body>
</html>
